Week 5-6/Day-30 K-Means Clustering Algorithm/Amazon-Products.csv
Week 5-6/Day-30 K-Means Clustering Algorithm/archive.zip
100 days challenge plan (version 2).xlsb.xlsx
Week 5-6/Day-35 Clustering Project/archive (1).zip
Week 5-6/Day-35 Clustering Project/spotify_churn_dataset.csv
Week 7-8 Time-Series and NLP/Day-49 Time Series Forcasting Project/BKB_WaterQualityData_2020084.csv
breast_cancer_nn_model.h5
Week 5-6  Unsupervised Learning and Clustering/Day-35 Clustering Project/archive (1).zip
Week 5-6  Unsupervised Learning and Clustering/Day-35 Clustering Project/spotify_churn_dataset.csv
Week 5-6  Unsupervised Learning and Clustering/Day-30 K-Means Clustering Algorithm/Amazon-Products.csv
Week 5-6  Unsupervised Learning and Clustering/Day-30 K-Means Clustering Algorithm/archive.zip
fraud_detection_model.h5
Week 3-4 Model Tuning & Feature Engineering/Day-22 k-Nearest Neighbors (k-NN)/Social_Network_Ads.csv
Week 3-4 Model Tuning & Feature Engineering/Day-26 ROC Curve, AUC-ROC, and PR Curve Deep Dive/Womens Clothing E-Commerce Reviews.csv
Week 3-4 Model Tuning & Feature Engineering/Day-24 Navies Bayes Classifier/complaints_processed.csv
Week 9-10 Deep Learning/Day-63 Deep Learning Project/best_ffnn.keras
Week 9-10 Deep Learning/Day-63 Deep Learning Project/fraud_detection_model.keras
Week 11-12  Sequential Models and Advanced AI Concepts/Day-75 Text Generation using RNN/day75_lstm_textgen.keras
