Week 5-6/Day-30 K-Means Clustering Algorithm/Amazon-Products.csv
Week 5-6/Day-30 K-Means Clustering Algorithm/archive.zip
100 days challenge plan (version 2).xlsb.xlsx
Week 5-6/Day-35 Clustering Project/archive (1).zip
Week 5-6/Day-35 Clustering Project/spotify_churn_dataset.csv
Week 7-8 Time-Series and NLP/Day-49 Time Series Forcasting Project/BKB_WaterQualityData_2020084.csv
breast_cancer_nn_model.h5
Week 5-6  Unsupervised Learning and Clustering/Day-35 Clustering Project/archive (1).zip
Week 5-6  Unsupervised Learning and Clustering/Day-35 Clustering Project/spotify_churn_dataset.csv
Week 5-6  Unsupervised Learning and Clustering/Day-30 K-Means Clustering Algorithm/Amazon-Products.csv
Week 5-6  Unsupervised Learning and Clustering/Day-30 K-Means Clustering Algorithm/archive.zip
